@import url("https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;700;900;");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #181a1b;
  color: white;
}
